# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =====================
# VS Code
# =====================
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# =====================
# OS / Windows
# =====================
Thumbs.db
Desktop.ini

# =====================
# Logs / temp
# =====================
*.log
*.tmp

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Data (если генерируется)
# =====================
data/*.csv
!data/sample.csv

# =====================
# Models / artifacts
# =====================
models/*.pkl
models/*.joblib
models/*.csv

# =====================
# Secrets
# =====================
.env
.env.*
